/* general */
* {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  font-family: poppins, sans-serif;
  font-weight: 400;
}
img {
  max-width: 100%;
  display: block;
}

/* layout */

.app {
  background-color: #f6f7fb;
  max-width: 90%;
  width: 400px;
  margin: 1em auto;
  padding: 0.6em;
}

.container {
  display: flex;
}
/* container-header */
.container-icon-header {
  padding: 0.3em;
  justify-content: space-between;
  align-items: center;
}
.header-icon {
  width: 2em;
}
.header-logo {
  width: 4em;
}

/* container-main */
.container-main {
  display: flex;
  flex-direction: column;
}
.container-main .dog-info {
  margin-top: -6em;
  color: #fff;
  padding-left: 1em;
}
.container-main img {
  border-radius: 15px;
}

/* container-footer */
.container-footer {
  justify-content: center;
}

.footer-icon-cross,
.footer-icon-like {
  width: 3em;
  background: #fff;
  padding: 1em;
  border-radius: 50%;
  margin: 0.7em 0.5em 0.3em;
  box-shadow: 0px 10px 20px #e9e9ea;
  transition: all 250ms ease-in-out;
}

@media (min-width: 334px) {
  .footer-icon-cross,
  .footer-icon-like {
    margin-top: 1.7em;
    width: 3.5em;
  }
}

.footer-icon-cross:focus,
.footer-icon-cross:hover {
  background: #ffe7ef;
}

.footer-icon-like:focus,
.footer-icon-like:hover {
  background: #dbfff4;
}
